@import "navbar.css";

/* Terracotta red, light beige, & muted teal = #B85042, #E7E8D1, #A7BEAE */


/*styling standard blockquote format for every page*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}



/*styling the footer for every blog page*/
.footer {
    height: 10vh;
    background: #B85042;
    color: #E7E8D1;
    margin: 5vh 0 0 0;
}

.footer-content {
    text-align: center;
    padding: 3vh 0 0 0;
}




/*Extra small devices*/
@media screen and (min-width: 200px) and (max-width: 499px) {
    .destinations-container {
        justify-content: center;
        flex-wrap: wrap;
    }
 }

/*Small devices and Tablets*/
@media screen and (min-width: 500px) and (max-width: 767.98px) {
    .destinations-container {
        margin: 5vh 10vw 0 10vw;
    }
 }