/*color scheme [Terracotta red, light beige, & muted teal = #B85042, #E7E8D1, #A7BEAE] */
@import "navbar.css";

/*styling standard blockquote format for every page*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}


/* Styling the list items */

/*making the list appear in the middle of the page*/
.content-container {
  width: 50%; 
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/*styling list element to have no list syle*/
.list-container > ul {
  list-style-type: none; 
  padding: 0;
  
}

/*styling the li element to have look more appealing*/
.list-container > li {
  margin: 0 0 10px; 
  padding: 10px;
  background-color: #A7BEAE; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
}

/* Hover effect for list items */
li:hover {
  background-color: #A7BEAE; 
  transition: background-color 0.3s; 
}




/*styling the footer for every blog page*/
.footer {
    height: 10vh;
    background: #B85042;
    color: #E7E8D1;
    margin: 5vh 0 0 0;
}

.footer-content {
    text-align: center;
    padding: 3vh 0 0 0;
}




/*Extra small devices*/
@media screen and (min-width: 200px) and (max-width: 499px) {
    .destinations-container {
        justify-content: center;
        flex-wrap: wrap;
    }
 }

/*Small devices and Tablets*/
@media screen and (min-width: 500px) and (max-width: 767.98px) {
    .destinations-container {
        margin: 5vh 10vw 0 10vw;
    }
 }